body {
  background: linear-gradient(to right,#5e1be4, #ad3cb3);
}
#root{
  width:80vw;
  margin: 8vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
form{
  margin: 1em;
}
input{
  padding: 0.5em;
  margin-right: 1em;
  border-radius: 0.5em;
}
button{
  padding: 0.5em;
  color: white;
  background-color:  black;
  border-radius: 0.5em;
}
form{
  display: flex;
  justify-content: space-around;
}
table {
  border-collapse: collapse;
 background-color: #fff;
 border-radius: 0.5em;
 text-align: center;
}
th,
td {
  padding: 10px 15px;
  width: 16em;

}
thead {
  background: rgb(24, 23, 23);
  color: #fff;
  font-size: 1.1em;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
tfoot{
  background-color: rgb(188, 185, 185);
}